body {
    font-family: 'Lucida Grande';
    font-size: 12px;
    background-color: #d1e0e0;
}

h1 {
    font-weight: initial;

margin-top: 15%;
border-bottom: solid 1px;
padding-bottom: 4%;
}

#welcome {
    text-align: center;
   
}

#pseudo {
    background-color: #b7c2ce;
    border-radius: 50%;
    padding: 2%;
    border: none;
    text-align: center;
}

#chat {
    text-align: center;
     display: none;
}

#chat-block {
    background-color: #a6a6a6;
    /*padding-top: 40%;*/
    height: 50em;
    margin: 2%;
    width: 94%;
    overflow: scroll;
    border: solid whitesmoke 2px;
}

#chat input {
width: 90%;
padding: 1%;
border: solid grey 0.1px;
margin-right: 2%;
text-align: center;
}

.messages {
   /* position: absolute;
    top: 1%;
    right: 1%;
    left: 1%;
    padding-top: 1%;
    clear: both; */
    overflow: hidden;
    clear: both;
}
.trois-points {
    width: 7%;
margin: auto;
border: solid 1px;
border-radius: 2em;
font-weight: bold;

}
.trois-points p {
    font-size: 2em;
}